body {
	font-family: sans-serif;
}

header {
	background: url("images/satellite.jpg");
	background-size: cover;
	background-position: bottom;
}

nav {
	text-align: center;
	font-weight: lighter;
	font-family: monospace;
	padding: 50px 0px 0px 0px;
	color: teal;
}

h1 {
	text-align: center;
	padding: 0px 0px 50px 0px;
	color: #808000;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 36px;
}

h2, h3 {
	padding: 20px 100px 20px 50px;
	font-weight: lighter; 
	color: #B8860B;
}

/*ul {
    margin-left: 30px;
}*/

li {
	padding: 10px;
	color: black;
	font-family: monospace;
	list-style-type: none;
	list-style-position: outside;
}

strong {
	font-weight: bold;
}

p {
	padding: 0px 100px 40px 50px; 
	color: black;
	font-family: monospace;
}

img {
	display: block;
	width: 35%;
	padding: 2px;
	border: .5px solid black;
	margin: 0 auto;
}

footer {
	padding: 20px 100px 20px 50px; 
}

a {
	color: gray;
	font-family: monospace;
}

.portfolio {
	padding: 0px 0px 20px 0px;
}

.topline {
	border: 3px solid black;
}

.profile {
	width: 50px;
	padding: 50px;
	border: 2px dotted black;
	margin: 35px 50px;
	float: right;
}
